<!-- {{ ansible_managed }} -->
<direct>
  <rule ipv="ipv4" table="filter" chain="INPUT" priority="0">-p icmp -m hashlimit --hashlimit-name icmplimit --hashlimit-above 10/sec -j DROP</rule>

{% for a in firewalld_allowed_ports_outbound %}
{% if a.user == "" and a.port == "" %}
  <rule ipv="ipv4" table="filter" chain="OUTPUT" priority="0">-d {{ a.dst }} -p {{ a.proto }} -m {{ a.proto }} -j ACCEPT</rule>
{% endif %}
{% if a.user == "" and a.port != "" %}
  <rule ipv="ipv4" table="filter" chain="OUTPUT" priority="0">-d {{ a.dst }} -p {{ a.proto }} -m {{ a.proto }} --dport {{ a.port }} -j ACCEPT</rule>
{% endif %}
{% if a.user != "" and a.port == "" and a.user in getent_passwd %}
  <rule ipv="ipv4" table="filter" chain="OUTPUT" priority="0">-d {{ a.dst }} -p {{ a.proto }} -m {{ a.proto }} -m owner --uid-owner {{ a.user }} -j ACCEPT</rule>
{% endif %}
{% if a.user != "" and a.port != "" and a.user in getent_passwd %}
  <rule ipv="ipv4" table="filter" chain="OUTPUT" priority="0">-d {{ a.dst }} -p {{ a.proto }} -m {{ a.proto }} --dport {{ a.port }} -m owner --uid-owner {{ a.user }} -j ACCEPT</rule>
{% endif %}
{% endfor %}

{% set ports = [] %}{% for a in firewalld_allowed_ports_outbound %} {{ ports.append(a.port) }}{% endfor %}

{% for p in ports|unique %}
{% if p != "" %}
  <rule ipv="ipv4" table="filter" chain="OUTPUT" priority="0"> -p tcp -m tcp --dport {{ p }} -j REJECT</rule>
  <rule ipv="ipv4" table="filter" chain="OUTPUT" priority="0"> -p udp -m udp --dport {{ p }} -j REJECT</rule>
{% endif %}
{% endfor %}
</direct>

