<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<policy target="REJECT">
  <protocol value="icmp"/>
{% for t in firewalld_blocked_icmp %}
  <icmp-block name="{{ t }}"/>
{% endfor %}

{% set ports = [] %} {% for a in firewalld_allowed_ports_outbound %} {{ ports.append(a.port) }} {% endfor %}

{% for p in ports|unique %}
{% if p != "" %}
  <port port="{{ p }}" protocol="tcp"/>
  <port port="{{ p }}" protocol="udp"/>
{% endif %}
{% endfor %}
  <ingress-zone name="HOST"/>
  <egress-zone name="ANY"/>
</policy>
